body {
    margin: 0;
    padding: 0;
}


.meny {
    width: 20%;
    height: 300px;
    background-color: black;

    display: inline-block;
    position: fixed;
}

.content {
    width: 70%;
    height: 600px;
    background-color: gray;

    display: inline-block;
    position:absolute;
    left: 21%;
}